* {
  margin: 0;
  padding: 0;
}

#header {
  height: 50px;
  background: red;
  text-align: center;
}

#content-wrapper {
  width: 100%;
  float: left;
  background: pink;
}
#content-wrapper #main {
  margin-left: 200px;
}

#sidebar {
  float: left;
  width: 200px;
  margin-left: -100%;
  background: green;
}

#footer {
  clear: left;
  width: 100%;
  text-align: center;
  background: yellow;
}

@media only screen and (max-width: 840px) {
  #content-wrapper {
    float: none;
  }
  #content-wrapper #main {
    margin-left: 0;
  }

  #sidebar {
    float: none;
    margin-left: 0;
    width: 100%;
  }
}
